:root {
    --PrimaryWhite: #FFFFFF;
    --PrimaryBlack: #000000;
    --LightGrey: #999999;
    --DarkGrey: #333333;
    --GrayishBlack: #141414;
    --PrimaryYellow: #e5de00;
    --BrightYellow: #e8e337;
    --StoneBlue: #2c353f;
    --BluishDark: #0d151e;
    --DarkBlue: #11263f;
    --Red: #eb2f2f;
}

@mixin repeatColsRows($cols: 3, $rows: 3) {
    grid-template-columns: repeat($cols, 1fr);
    grid-template-rows: repeat($rows, 1fr);
}

@mixin customMargin($top, $right, $bottom, $left) {
    margin: $top $right $bottom $left
}

@mixin customWidth($val) {
    width: $val;
}

@mixin customHeight($val) {
    height: $val;
}

@mixin ribbon($color) {
    width: 100%;
    height: 1000px;
    border: 5px solid $color;
    border-radius: 100%;
    padding-top: 50px;
}


.heading1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: normal;
    margin-block: 5px;
}

.heading2 {
    font-size: 2rem;
    font-weight: 500;
    line-height: normal;
    margin-block: 5px;
}

.heading3 {
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
    margin-block: 5px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.squareBtn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}

.squareBtn:hover {
    padding: 12px 20px;
    animation: alarming 0.5s ease-in-out 2;
    box-shadow: 0 0 20px #e6e15b;
}


/* Keyframes for alarming effect */
@keyframes alarming {

    0%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(5deg);
    }

    75% {
        transform: rotate(-5deg);
    }
}

.blurredbgBox {
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: rgba(40, 37, 37, 0.3);
    padding: 10px;
}

//margin

.margin-block-30 {
    margin-block: 30px;
}

.margin-block-60 {
    margin-block: 60px;
}

.margin-block-20 {
    margin-block: 20px;
}

.margin-left-5 {
    margin-left: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-inline-auto {
    margin-inline: auto;
}

.margin-right-20per {
    @include customMargin(0px, 20%, 0px, 0px)
}

.mt-20 {
    @include customMargin(20px, 0px, 0px, 0px)
}



//padding

.p-block-30 {
    padding-block: 30px;
}

.p-block-60 {
    padding-block: 60px;
}

.p-block-90 {
    padding-block: 90px;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.p-left-20 {
    padding-left: 20px;
}

.p-block-6rem {
    padding-block: 6rem;
}

.p-inline-6rem {
    padding-inline: 6rem;
}

//bg

.bg-white {
    background-color: var(--PrimaryWhite);
}

.bg-yellow {
    background-color: var(--PrimaryYellow);
}

.bg-StoneBlue {
    background-color: var(--StoneBlue);
}

.bg-BluishDark {
    background-color: var(--BluishDark);
}

.bg-darkBlue {
    background-color: var(--DarkBlue);
}

//color

.color-black {
    color: var(--PrimaryBlack);
}

.color-yellow {
    color: var(--PrimaryYellow);
}

.color-white {
    color: var(--PrimaryWhite);
}

.color-gray-l {
    color: var(--LightGrey);
}


//fonts

.font-size-large {
    font-size: 1.2rem;
}

.font-size-xl {
    font-size: 2rem;
}

.font-size-10 {
    font-size: 10px;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-14 {
    font-size: 14px;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-700 {
    font-weight: 700;
}

//width

.w-25per {
    width: 25%;
}

.w-30per {
    width: 30%;
}

.w-60per {
    @include customWidth(60%)
}

.w-80per {
    @include customWidth(80%)
}

.w-100per {
    width: 100%;
}

.w-200 {
    @include customWidth(200px)
}

.w-100 {
    @include customWidth(100px);
}

.w-600 {
    @include customWidth(600px)
}

.w-800 {
    @include customWidth(800px)
}



//height

.h-300 {
    height: 300px;
}

.h-200 {
    @include customHeight(400px);
}

.h-500 {
    @include customHeight(500px);
}

.h-max-250 {
    @include customHeight(250px);
    max-height: 250px;
}

//display

.d-flex {
    display: flex;
}

.flex-d-col {
    flex-direction: column;
}

.flex-d-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.align-items-center {
    align-items: center;
}

.align-items-stretch {
    align-items: stretch;
}

.g-5 {
    gap: 5px;
}

.g-10 {
    gap: 10px;
}

.g-20 {
    gap: 20px;
}

.g-30 {
    gap: 30px;
}

.g-40 {
    gap: 40px;
}

.jc-space-between {
    justify-content: space-between;
}

.jc-space-around {
    justify-content: space-around;
}

.jc-start {
    justify-content: flex-start;
}

.jc-center {
    justify-content: center;
}

.jc-end {
    justify-content: flex-end;
}

//Grid

.d-grid {
    display: grid;
}

.Cols-4-Rows-1 {
    @include repeatColsRows(4, 1);
}

.ColsRows-2 {
    @include repeatColsRows(2, 2);
}

//border

.br-50per {
    border-radius: 50%;
}

.br-20 {
    border-radius: 20px;
}

.br-10 {
    border-radius: 10px;
}

.br-5 {
    border-radius: 5px;
}

//position

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: relative;
}

.right-10 {
    right: 10px;
}


//miscellaneous 

.underline {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.cursor-pointer {
    cursor: pointer;
}

.line-height-normal {
    line-height: 1.2;
}

.line-height-large {
    line-height: 1.5;
}

.overflow-hidden {
    overflow: hidden;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    @extend .blurredbgBox;
}

.hamburger-line:nth-child(1) {
    padding: 2px;
    width: 25px;
    margin-bottom: 3px;
    margin-left: 4px;
    border-radius: 5px;
    background-color: var(--PrimaryWhite);
    transform: rotate(0deg);
    transition: transform 0.5s ease-out;
}

.hamburger-line:nth-child(2) {
    padding: 2px;
    width: 15px;
    border-radius: 5px;
    margin-left: 4px;
    transform: rotate(0deg);
    background-color: var(--PrimaryWhite);
    transition: transform 0.5s ease-out;
}

.cross-line:nth-child(1) {
    padding: 2px;
    width: 25px;
    margin-bottom: 3px;
    margin-left: 4px;
    border-radius: 5px;
    background-color: var(--PrimaryWhite);
    transform: rotate(-45deg);
    transition: transform 0.5s ease-out;
}

.cross-line:nth-child(2) {
    padding: 2px;
    width: 25px;
    margin-bottom: 3px;
    margin-left: 4px;
    border-radius: 5px;
    background-color: var(--PrimaryWhite);
    transform: rotate(45deg);
    transition: transform 0.5s ease-out;
}

// .download-btn {
//     padding: 10px 20px;
//     cursor: pointer;
//     border: none;
//     transition: width 2s ease-out;
// }

// .download-btn:hover {
//     border: 2px solid var(--PrimaryYellow);
//     color: var(--PrimaryYellow);
//     height: 40px;
//     width: 50px;
// }

.download-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0px 10px;
    cursor: pointer;
    border: none;
    transition: width 0.2s ease-in;
    width: 40px;
    border: 2px solid var(--PrimaryYellow);
    color: var(--PrimaryYellow);
    height: 40px;

    .icon {
        font-size: 1rem;
    }

    .text {
        margin-left: 10px;
        translate: 200px 0px;
        display: none;
        white-space: nowrap;
        transition: translate 0.5s ease 2s;
    }
}



.download-btn:hover {
    width: 110px;
    height: 40px;

    .icon {
        font-size: 1rem;
    }

    .text {
        display: inline;
        translate: 0px 0px;
    }
}


@media only screen and (max-width: 1024px) {
    .companiesDiv {
        display: grid;
        gap: 20px;
        @include repeatColsRows(2, 2)
    }
}

@media only screen and (min-width: 1024px) {
    .companiesDiv {
        display: grid;
        gap: 20px;
        @include repeatColsRows(4, 1)
    }
}

.projectCardParent {
    width: 250px;
    height: 500px;
    cursor: pointer;
    overflow: hidden;
    margin-inline: auto;
}

.projectCard {
    width: 250px;
    height: 500px;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    transition: filter 0.5s ease, transform 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: normal;
    margin-block: 5px;
}

.projectCard:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
    color: var(--PrimaryBlack);
    /* Adjust the scale value as needed */
}

.testimonialCard {
    width: 400px;
    height: auto;
    background-color: var(--GrayishBlack);
    color: var(--LightGrey);
    border: 2px solid var(--DarkGrey);
    border-radius: 10px;
    padding: 20px;
    line-height: 1.3;
    transition: transform 0.5s ease-in-out, scale 0.5s ease-in-out;
}

.scaleUp {
    @extend .testimonialCard;
    z-index: 999;
    scale: 1.2;
}

.inputClass {
    padding: 10px;
    background-color: transparent;
    border: 2px solid var(--LightGrey);
    border-radius: 10px;
    font-size: 10px;
}

.selectBtn {
    @extend .inputClass;
    cursor: pointer;
    user-select: none;
}

.selectBtn input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.selectBtn input[type="checkbox"]:checked+span {
    background-color: #007bff;
    color: white;
}

.selectBtn span {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.inputs {
    @extend .inputClass;
}

.inputs::placeholder {
    color: var(--PrimaryWhite);
    font-size: 10px;
    font-weight: 500;
}

.inputs[name='message'] {
    height: 100px;
}

.inputs[name='message']::placeholder {
    position: absolute;
    top: 10px;
}

.inputs[type='file'] {
    opacity: 0;
    cursor: pointer;
}

.sidebar {
    @extend .blurredbgBox;
    position: absolute;
    width: 250px;
    min-height: 300px;
    left: 75px;
    top: 20px;
    border-radius: 5px;


    li {
        list-style-type: none;
        font-size: 1rem;
        font-weight: 500;
        margin-block: 15px;
        color: var(--BrightYellow);
        cursor: pointer;
    }
}

.sidebar.open {
    display: block;
    animation: openSidebar 0.3s ease-in-out;
}

.sidebar.close {
    animation: closeSidebar 0.3s ease-in-out;
    display: none;
}


@keyframes openSidebar {

    0% {
        width: 125px
    }

    100% {
        width: 250px
    }
}

@keyframes closeSidebar {

    0% {
        width: 250px;
        display: block;
    }

    100% {
        width: 125px;
        display: none;
    }
}


.ribbon {
    width: 100%;
    height: 700px;
    border: 5px solid var(--PrimaryYellow);
    border-radius: 100%;
}

.ribbon-yellow {
    @include ribbon(var(--PrimaryYellow))
}

.ribbon-red {
    @include ribbon(var(--Red))
}

.secWrapper {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;

}

.secWrapper.show {
    opacity: 1;
    transform: translateY(0);
}